@charset "UTF-8";
*, body {
  font-family: 'Open Sans', sans-serif; }

.resultBody {
  width: 100%;
  box-sizing: border-box; }
  .resultBody__box__grid {
    overflow: hidden;
    border: 1px solid #EEEEEE;
    position: relative;
    box-shadow: 0px 0px 15px rgba(122, 122, 122, 0.05);
    box-sizing: border-box;
    margin-top: 15px; }
  .resultBody__box {
    box-sizing: border-box;
    padding: 0 10px;
    overflow: hidden;
    width: 25%;
    float: left; }
    .resultBody__box:hover .resultBody__box__img__center__link--src {
      transform: translateY(-10px); }
    .resultBody__box__offer {
      background: #FF6600;
      color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      width: 65px;
      text-align: center;
      border-radius: 0 0 0 5px; }
      .resultBody__box__offer--number {
        font-size: 16px;
        font-weight: bold;
        line-height: 32px; }
    .resultBody__box__img {
      margin-left: auto;
      margin-right: auto;
      min-height: 245px;
      display: table;
      vertical-align: middle;
      position: relative;
      padding: 1rem;
      box-sizing: border-box; }
      .resultBody__box__img__center {
        display: table-cell;
        vertical-align: middle; }
        .resultBody__box__img__center__link {
          display: block;
          height: 200px; }
          .resultBody__box__img__center__link--src {
            transition: all .5s;
            max-height: 100%;
            max-width: 100%; }
      .resultBody__box__img__icons {
        background: #fff;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
        font-family: Fontawesome;
        position: absolute;
        bottom: 14px;
        display: table;
        left: 50%;
        transform: translateX(-50%); }
        .resultBody__box__img__icons__tool {
          display: inline-block;
          cursor: pointer;
          margin-left: 10px;
          position: relative; }
          .resultBody__box__img__icons__tool:first-child {
            margin-left: 0; }
          .resultBody__box__img__icons__tool:hover::after, .resultBody__box__img__icons__tool:hover::before {
            display: block; }
          .resultBody__box__img__icons__tool::before {
            content: "";
            display: none;
            position: absolute;
            top: -50%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent; }
          .resultBody__box__img__icons__tool::after {
            color: #fff;
            display: none;
            padding: 2px 8px;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif !important;
            position: absolute;
            top: calc(-100% + -8px);
            white-space: nowrap;
            left: 50%;
            font-size: 12px;
            transform: translateX(-50%); }
          .resultBody__box__img__icons__tool:nth-child(1) {
            margin-left: 0;
            color: #16CDCD; }
            .resultBody__box__img__icons__tool:nth-child(1)::after {
              background: #16CDCD;
              content: 'Agregar a lista de comparación'; }
          .resultBody__box__img__icons__tool:nth-child(2) {
            color: #FF0000; }
            .resultBody__box__img__icons__tool:nth-child(2)::after {
              background: #FF0000;
              content: 'Agregar a favoritos'; }
          .resultBody__box__img__icons__tool:nth-child(3) {
            color: #FFB300; }
            .resultBody__box__img__icons__tool:nth-child(3)::after {
              background: #FFB300;
              content: 'Lista de compras'; }
    .resultBody__box__info {
      width: 100%;
      text-align: center;
      border-top: 1px solid #EEEEEE; }
      .resultBody__box__info__int {
        height: 50px;
        overflow-y: auto; }
        .resultBody__box__info__intScroll {
          max-height: 50px;
          height: 50px;
          display: table;
          margin-left: auto;
          margin-right: auto; }
          .resultBody__box__info__intScroll__title {
            font-weight: bold;
            color: #0F1A36;
            font-size: 1rem;
            line-height: 1.2rem;
            display: table-cell;
            vertical-align: middle; }
        .resultBody__box__info__int::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #F5F5F5; }
        .resultBody__box__info__int::-webkit-scrollbar {
          width: 6px;
          background-color: #F5F5F5; }
        .resultBody__box__info__int::-webkit-scrollbar-thumb {
          background-color: #16CDCD; }
      .resultBody__box__info__price {
        padding: 12px 0 12px 0;
        border-top: 1px solid #EEEEEE;
        font-size: 20px;
        font-weight: 800;
        font-size: 1.2rem;
        color: #16CDCD; }
    .resultBody__box__brandsContent {
      position: relative;
      border-top: 1px solid #EEEEEE; }
      .resultBody__box__brandsContent--prev, .resultBody__box__brandsContent--next {
        position: absolute;
        top: 50%;
        display: none;
        transform: translateY(-50%);
        z-index: 99; }
      .resultBody__box__brandsContent--prev {
        left: 0; }
      .resultBody__box__brandsContent--next {
        right: 0; }
      .resultBody__box__brandsContent--prev i, .resultBody__box__brandsContent--next i {
        color: #fff;
        font-family: Fontawesome; }
      .resultBody__box__brandsContent__brands {
        height: 52px;
        display: table !important; }
        .resultBody__box__brandsContent__brands__int {
          vertical-align: middle; }
        .resultBody__box__brandsContent__brands .owl-stage-outer {
          display: table-cell;
          vertical-align: middle; }
          .resultBody__box__brandsContent__brands .owl-stage-outer .owl-stage {
            margin: 0 auto; }
    .resultBody__box__brands::-webkit-scrollbar-button:increment {
      display: none; }
    .resultBody__box__brands::-webkit-scrollbar {
      display: none; }
    .resultBody__box__compare--link {
      background: #16CDCD;
      color: #fff;
      text-decoration: none;
      width: 100%;
      display: table;
      text-align: center;
      line-height: 36px;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 12px; }

/*******carousel brands*********/
.owl-carousel .owl-stage {
  display: table; }

.owl-carousel.owl-drag .owl-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
  padding: 0 .5rem; }

.owl-carousel .owl-item img {
  margin: 0 auto;
  width: auto !important; }

@media screen and (max-width: 980px) {
  .resultBody__box {
    width: 33.33%; } }
@media screen and (max-width: 768px) {
  .resultBody__box {
    width: 50%; } }
@media screen and (max-width: 480px) {
  .resultBody {
    margin-top: -15px; }
    .resultBody__box {
      padding: 0 6px;
      width: 100%; } }
.nav {
  display: block; }

.nav li {
  display: inline-block;
  list-style: none; }

.nav .button-dropdown {
  position: relative; }

.nav li a span {
  display: inline-block; }

.nav li a:hover, .nav li a.dropdown-toggle.active {
  background-color: #289dcc;
  color: #fff; }

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
  color: #fff; }

.nav li .dropdown-menu {
  display: none;
  position: absolute; }

.nav li .dropdown-menu.active {
  display: block; }

.none {
  display: none !important; }

.resultFilters {
  position: relative;
  font-family: Fontawesome;
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
  display: table;
  vertical-align: middle; }
  .resultFilters__bars, .resultFilters__form {
    display: table-cell;
    width: 100%;
    vertical-align: top; }
  .resultFilters__bars {
    cursor: pointer; }
    .resultFilters__bars__list {
      list-style: none;
      background: #16CDCD;
      text-align: center;
      color: #fff;
      height: 50px;
      width: 50px;
      line-height: 50px; }
      .resultFilters__bars__list--ico {
        font-size: 2rem; }
  .resultFilters__form--input {
    padding-left: 1rem;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc; }
  .resultFilters__hidden {
    display: none;
    background: red;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .resultFilters__int {
    width: 8%;
    display: table-cell;
    box-sizing: border-box;
    padding: 2px;
    vertical-align: middle;
    position: relative; }
    .resultFilters__int:nth-child(1) {
      width: 25%; }
    .resultFilters__int__price {
      display: table;
      width: 100%; }
      .resultFilters__int__price--min, .resultFilters__int__price--max {
        padding: 0 1rem; }
      .resultFilters__int__price--min, .resultFilters__int__price--max, .resultFilters__int__price--slider {
        display: table-cell;
        white-space: nowrap;
        font-family: "Open Sans", sans-serif;
        vertical-align: middle; }
    .resultFilters__int__button {
      text-decoration: none;
      border-radius: 2px;
      white-space: nowrap;
      line-height: 30px;
      width: 100%;
      border: 1px solid #ccc;
      box-sizing: border-box; }
      .resultFilters__int__button--brand {
        cursor: pointer;
        display: block;
        text-align: center;
        background: #16CDCD;
        border: none;
        width: 100%;
        color: #fff;
        font-family: 'Open Sans', sans-serif !important;
        font-weight: bold;
        font-size: 15px; }
    .resultFilters__int--slider {
      /** FF*/
      /* IE*/ }
      .resultFilters__int--slider span:first-child {
        float: left; }
      .resultFilters__int--slider span:last-child {
        float: right; }
      .resultFilters__int--slider input[type="range"]::-moz-range-progress {
        background-color: red; }
      .resultFilters__int--slider input[type="range"]::-moz-range-track {
        background-color: red; }
      .resultFilters__int--slider input[type="range"]::-ms-fill-lower {
        background-color: red; }
      .resultFilters__int--slider input[type="range"]::-ms-fill-upper {
        background-color: red; }
    .resultFilters__int__drop {
      border: 1px solid #ccc;
      background: #fff;
      display: none;
      position: absolute;
      z-index: 99;
      left: 0;
      width: calc(100% - 6px);
      font-family: 'Open Sans', sans-serif !important; }
      .resultFilters__int__drop__list {
        border-bottom: 1px solid #ccc;
        cursor: pointer; }
        .resultFilters__int__drop__list__label {
          display: table;
          cursor: pointer;
          width: 100%;
          position: relative; }
          .resultFilters__int__drop__list__label--button {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer; }
          .resultFilters__int__drop__list__label--button, .resultFilters__int__drop__list__label--text {
            display: table-cell; }
          .resultFilters__int__drop__list__label input:checked + p:before {
            font-family: Fontawesome;
            color: #fff;
            background: #16CDCD; }
          .resultFilters__int__drop__list__label--text {
            color: #ccc;
            padding: .5rem; }
            .resultFilters__int__drop__list__label--textSpan {
              color: #0F1A36;
              display: table-cell; }
            .resultFilters__int__drop__list__label--text:before {
              content: '';
              margin-right: 5px;
              border-radius: 0px;
              display: table-cell;
              height: 100%;
              width: 4px;
              top: 0;
              left: 0;
              position: absolute;
              vertical-align: top;
              font-size: .9rem;
              line-height: 14px;
              color: #ccc; }
      .resultFilters__int__drop__list:last-child {
        border: none; }

.resultFilters__int--slider {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center; }
  .resultFilters__int--slider input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 14px;
    background: #fff;
    box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0; }
  .resultFilters__int--slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background: #16CDCD; }
  .resultFilters__int--slider input[type="range"]::-moz-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background: #16CDCD; }
  .resultFilters__int--slider input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */ }
  .resultFilters__int--slider input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */ }
  .resultFilters__int--slider input[type="range"]::-moz-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */ }
  .resultFilters__int--slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0; }
  .resultFilters__int--slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0; }
  .resultFilters__int--slider input[type=range]::-moz-focus-outer {
    border: 0; }

@media screen and (max-width: 980px) {
  .resultFilters__int {
    float: left;
    width: 33.33%; }
    .resultFilters__int:nth-child(1) {
      width: 100%;
      margin-bottom: 10px; } }
@media screen and (min-width: 680px) {
  .resultFilters__form, .resultFilters__bars {
    display: none; } }
@media screen and (max-width: 680px) {
  .resultFiltersResponsive {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 95;
    width: 100%;
    background: #fff; } }
@media screen and (max-width: 580px) {
  .resultFilters {
    padding: 5px 5px; }
    .resultFilters__int {
      float: left;
      width: 33% !important; }
      .resultFilters__int:nth-child(1) {
        margin-bottom: 1rem;
        width: 100% !important; }
      .resultFilters__int__button--brand {
        padding-left: 0;
        font-size: 12px; }
      .resultFilters__int__price--min, .resultFilters__int__price--max {
        padding: 0 .2rem; } }
.headerPrincipal {
  background: #0F1A36;
  display: table;
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box; }
  .headerPrincipal__box {
    display: table;
    width: 100%; }
    .headerPrincipal__box__grid:first-child {
      width: 85%; }
    .headerPrincipal__box__grid {
      display: table-cell;
      width: 50%;
      vertical-align: middle; }
    .headerPrincipal__box__contentInt {
      width: 100%;
      display: table; }
    .headerPrincipal__box__content--grid {
      display: table-cell;
      vertical-align: middle; }
    .headerPrincipal__box__content__logo {
      padding-right: 1rem;
      width: 15%; }
      .headerPrincipal__box__content__logo__link--src {
        max-width: 165px; }
    .headerPrincipal__box__contentSearch {
      width: 75%; }
      .headerPrincipal__box__contentSearch__form {
        display: table;
        width: 100%;
        position: relative; }
        .headerPrincipal__box__contentSearch__form--input, .headerPrincipal__box__contentSearch__form--button {
          display: table-cell;
          line-height: 40px;
          height: 40px;
          box-sizing: border-box;
          border-radius: 5px;
          vertical-align: bottom; }
        .headerPrincipal__box__contentSearch__form--input {
          padding-left: 1rem;
          font-size: 1rem;
          box-sizing: border-box;
          width: 100%;
          border: 1px solid #ccc; }
        .headerPrincipal__box__contentSearch__form--buttonIco {
          background: #FF6600;
          color: #fff;
          padding: 0 1rem;
          border-radius: 0 5px 5px 0;
          width: auto;
          border: none;
          font-size: 1.5rem;
          position: absolute;
          right: 0;
          line-height: 40px;
          height: 40px;
          top: 0;
          font-family: Fontawesome; }
        .headerPrincipal__box__contentSearch__form--button {
          width: 20%;
          border: none;
          font-size: 1.5rem; }
    .headerPrincipal__box__contentNav__bars {
      display: none; }
    .headerPrincipal__box__contentNav__menu {
      display: table;
      float: right; }
      .headerPrincipal__box__contentNav__menuLista {
        display: table-cell; }
        .headerPrincipal__box__contentNav__menuLista--link {
          border-bottom: 1px solid #fff;
          margin-left: 10px;
          padding: 0 16px;
          border-radius: 5px;
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          line-height: 30px;
          display: table;
          background: #FF6600;
          color: #fff;
          text-decoration: none; }
    .headerPrincipal__box__contentNav__bars__list {
      list-style: none; }
      .headerPrincipal__box__contentNav__bars__list--ico {
        font-family: Fontawesome;
        color: #fff; }

@media screen and (max-width: 680px) {
  .headerPrincipal {
    padding: 5px 5px; }
    .headerPrincipal__box__contentNav__bars {
      display: block;
      overflow: hidden; }
      .headerPrincipal__box__contentNav__bars__list {
        float: right;
        cursor: pointer; }
        .headerPrincipal__box__contentNav__bars__list--ico {
          background: #FF6600;
          padding: 0 10px;
          line-height: 45px;
          display: block;
          border-radius: 2px;
          font-size: 1.5rem; }
    .headerPrincipal__box__contentNav__menu {
      display: none;
      position: absolute;
      width: 50%;
      right: 0;
      z-index: 99; }
      .headerPrincipal__box__contentNav__menuLista {
        display: table;
        text-align: center;
        width: 100%; }
        .headerPrincipal__box__contentNav__menuLista--link {
          width: 100%;
          border-radius: 0;
          border: none;
          margin: 0;
          padding: 0; }
        .headerPrincipal__box__contentNav__menuLista:last-child .headerPrincipal__box__contentNav__menuLista--link {
          border-top: 1px solid #fff; }
    .headerPrincipal__box__contentSearch {
      display: none; } }
.footerPrincipal {
  background: #0F1A36;
  line-height: 45px; }
  .footerPrincipal__content {
    display: table;
    width: 100%; }
    .footerPrincipal__content__grid {
      display: table-cell;
      width: 50%;
      vertical-align: middle; }
    .footerPrincipal__content__int__copy {
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      font-family: "Open Sans", sans-serif; }
    .footerPrincipal__content__int__submenu {
      display: table;
      float: right; }
      .footerPrincipal__content__int__submenulist {
        display: table-cell; }
        .footerPrincipal__content__int__submenulist--link {
          color: #16CDCD;
          font-size: 12px;
          padding-right: 8px;
          text-decoration: none;
          font-family: "Open Sans", sans-serif; }

@media screen and (max-width: 900px) {
  .footerPrincipal__content__grid {
    display: table;
    width: 100%; }
  .footerPrincipal__content__int__copy {
    text-align: center;
    margin-top: 1rem; }
  .footerPrincipal__content__int__submenu {
    float: none;
    margin: 0 auto; } }
@media screen and (max-width: 520px) {
  .footerPrincipal__content__int__submenu {
    width: 100%; }
    .footerPrincipal__content__int__submenulist {
      width: 20%;
      float: left;
      text-align: center; }
      .footerPrincipal__content__int__submenulist--link {
        padding: 0; } }
@media screen and (max-width: 340px) {
  .footerPrincipal__content__int__submenulist {
    width: 33.33%; } }
.resultProduct {
  width: 100%;
  display: table;
  padding: 20px;
  box-sizing: border-box; }
  .resultProduct__grid {
    display: table-cell;
    width: 50%;
    vertical-align: top; }
  .resultProduct__title {
    margin-bottom: 20px;
    background: #16CDCD;
    border-radius: 5px;
    padding: 1rem;
    padding-left: 1rem;
    box-sizing: border-box; }
    .resultProduct__title--txt {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff; }
  .resultProduct__content {
    display: table;
    width: 100%; }
    .resultProduct__content__grid {
      display: table-cell;
      width: 50%;
      vertical-align: top; }
    .resultProduct__content__grid:first-child {
      padding-right: 10px; }
    .resultProduct__content__grid:last-child {
      padding-left: 10px; }
    .resultProduct__contentProduct {
      border: 1px solid #ccc;
      position: relative; }
      .resultProduct__contentProduct__img {
        height: 500px;
        display: table;
        width: 100%; }
        .resultProduct__contentProduct__imgInt {
          vertical-align: middle;
          display: table-cell; }
          .resultProduct__contentProduct__imgInt--src {
            max-width: 100%;
            max-height: 100%;
            width: 100%; }
      .resultProduct__contentProduct__offer {
        font-size: 1rem;
        background: #FF6600;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        line-height: 30px;
        border-radius: 0 0 0 5px;
        padding: 0 .5rem; }
        .resultProduct__contentProduct__offer__percen {
          display: table; }
          .resultProduct__contentProduct__offer__percen--txt, .resultProduct__contentProduct__offer__percen--number {
            display: table-cell;
            vertical-align: middle; }
          .resultProduct__contentProduct__offer__percen--number {
            font-size: 1.5rem;
            font-weight: bold; }
      .resultProduct__contentProduct__icons {
        display: table;
        margin: 0 auto 10px auto; }
        .resultProduct__contentProduct__icons__tool {
          display: table-cell;
          font-size: 1.5rem;
          padding: .2rem;
          font-family: Fontawesome;
          cursor: pointer;
          position: relative; }
          .resultProduct__contentProduct__icons__tool:first-child {
            margin-left: 0; }
          .resultProduct__contentProduct__icons__tool:hover::after, .resultProduct__contentProduct__icons__tool:hover::before {
            display: block; }
          .resultProduct__contentProduct__icons__tool::before {
            content: "";
            display: none;
            position: absolute;
            top: -50%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid; }
          .resultProduct__contentProduct__icons__tool::after {
            color: #fff;
            display: none;
            padding: 4px 10px;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif !important;
            position: absolute;
            top: calc(-100% + -5px);
            white-space: nowrap;
            left: 50%;
            font-size: 12px;
            transform: translateX(-50%); }
          .resultProduct__contentProduct__icons__tool:nth-child(1) {
            margin-left: 0;
            color: #16CDCD; }
            .resultProduct__contentProduct__icons__tool:nth-child(1)::before {
              border-color: #16CDCD transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(1)::after {
              background: #16CDCD;
              content: 'Agregar a lista de comparación'; }
          .resultProduct__contentProduct__icons__tool:nth-child(2) {
            color: #FF0000; }
            .resultProduct__contentProduct__icons__tool:nth-child(2)::before {
              border-color: #FF0000 transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(2)::after {
              background: #FF0000;
              content: 'Agregar a favoritos'; }
          .resultProduct__contentProduct__icons__tool:nth-child(3) {
            color: #FFB300; }
            .resultProduct__contentProduct__icons__tool:nth-child(3)::before {
              border-color: #FFB300 transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(3)::after {
              background: #FFB300;
              content: 'Lista de compras'; }
          .resultProduct__contentProduct__icons__tool:nth-child(4) {
            color: #3B5998; }
            .resultProduct__contentProduct__icons__tool:nth-child(4)::before {
              border-color: #3B5998 transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(4)::after {
              background: #3B5998;
              content: 'Compartir en Facebook'; }
          .resultProduct__contentProduct__icons__tool:nth-child(5) {
            color: #00ACEE; }
            .resultProduct__contentProduct__icons__tool:nth-child(5)::before {
              border-color: #00ACEE transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(5)::after {
              background: #00ACEE;
              content: 'Compartir en Twitter'; }
          .resultProduct__contentProduct__icons__tool:nth-child(6) {
            color: #273443; }
            .resultProduct__contentProduct__icons__tool:nth-child(6)::before {
              border-color: #273443 transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(6)::after {
              background: #273443;
              content: 'Compartir por Email'; }
          .resultProduct__contentProduct__icons__tool:nth-child(7) {
            color: #4FCE5D; }
            .resultProduct__contentProduct__icons__tool:nth-child(7)::before {
              border-color: #4FCE5D transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(7)::after {
              background: #4FCE5D;
              content: 'Compartir en Whatsapp'; }
          .resultProduct__contentProduct__icons__tool:nth-child(8) {
            color: #0088CC; }
            .resultProduct__contentProduct__icons__tool:nth-child(8)::before {
              border-color: #0088CC transparent transparent transparent; }
            .resultProduct__contentProduct__icons__tool:nth-child(8)::after {
              background: #0088CC;
              content: 'Compartir en Telegram'; }
          .resultProduct__contentProduct__icons__tool--list {
            color: #16CDCD; }
          .resultProduct__contentProduct__icons__tool--heart {
            color: #FF0000; }
          .resultProduct__contentProduct__icons__tool--compare {
            color: #FFB300; }
          .resultProduct__contentProduct__icons__tool--facebook {
            color: #3B5998; }
          .resultProduct__contentProduct__icons__tool--twitter {
            color: #00ACEE; }
    .resultProduct__contentBrands__box:first-child {
      margin-top: 0; }
    .resultProduct__contentBrands__box:last-child {
      border: none; }
    .resultProduct__contentBrands__box {
      margin-top: 20px;
      width: 100%; }
      .resultProduct__contentBrands__boxContent {
        border: 1px solid #E2E2E2;
        box-shadow: 0px 0px 15px rgba(122, 122, 122, 0.1);
        display: table;
        width: 100%;
        position: relative; }
      .resultProduct__contentBrands__box__grid {
        display: table-cell;
        width: 33.33%;
        vertical-align: middle; }
        .resultProduct__contentBrands__box__grid:nth-child(2) {
          border-right: 1px solid #E2E2E2;
          border-left: 1px solid #E2E2E2;
          box-sizing: border-box; }
        .resultProduct__contentBrands__box__grid:nth-child(3) {
          vertical-align: middle; }
      .resultProduct__contentBrands__boxInt__img, .resultProduct__contentBrands__boxInt__price, .resultProduct__contentBrands__boxInt__offer {
        height: 50px;
        display: table;
        width: 100%;
        text-align: center; }
      .resultProduct__contentBrands__boxInt__img {
        text-align: center; }
        .resultProduct__contentBrands__boxInt__imgInt {
          display: table-cell;
          vertical-align: middle; }
          .resultProduct__contentBrands__boxInt__imgInt--src {
            width: 50%; }
      .resultProduct__contentBrands__boxInt__price--txt {
        display: table-cell;
        vertical-align: middle;
        font-size: 20px;
        font-weight: 800;
        color: #0F1A36; }
      .resultProduct__contentBrands__boxInt__offer--txt {
        color: #50C900;
        display: table-cell;
        vertical-align: middle;
        font-weight: 300;
        font-size: 1.2rem; }
      .resultProduct__contentBrands__boxInt__common {
        text-align: center;
        text-decoration: none;
        background: #16CDCD;
        display: table;
        width: 100%;
        overflow: hidden; }
        .resultProduct__contentBrands__boxInt__common__slide {
          width: 80px !important;
          margin: 0 auto; }
        .resultProduct__contentBrands__boxInt__common--txt {
          display: table;
          width: 100%;
          white-space: nowrap;
          color: #fff;
          line-height: 17px;
          font-size: 12px; }
          .resultProduct__contentBrands__boxInt__common--txtAnimate {
            animation-name: textslide;
            animation-duration: 20s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; }
      .resultProduct__contentBrands__box__bottom {
        display: table;
        position: relative;
        width: 100%; }
        .resultProduct__contentBrands__box__bottom__grid {
          width: 33.33%;
          display: table-cell;
          background: red; }
          .resultProduct__contentBrands__box__bottom__grid:last-child {
            position: relative; }
            .resultProduct__contentBrands__box__bottom__grid:last-child__common {
              background: red;
              position: relative; }
          .resultProduct__contentBrands__box__bottom__grid__common {
            text-align: center;
            text-decoration: none;
            background: #16CDCD;
            display: table;
            width: 100%;
            cursor: pointer; }
            .resultProduct__contentBrands__box__bottom__grid__common--txt {
              display: table;
              width: 100%;
              white-space: nowrap;
              color: #fff;
              line-height: 17px;
              font-size: 12px; }
            .resultProduct__contentBrands__box__bottom__grid__common__restrict {
              display: table;
              width: 100%;
              top: -50px;
              left: 0;
              height: 50px;
              position: absolute;
              vertical-align: middle; }
              .resultProduct__contentBrands__box__bottom__grid__common__restrictBox {
                background: #FF6600;
                display: table-cell;
                vertical-align: middle; }
                .resultProduct__contentBrands__box__bottom__grid__common__restrictBox--txt {
                  color: #fff;
                  font-size: 14px;
                  text-align: center; }
            .resultProduct__contentBrands__box__bottom__grid__common--tooltip {
              position: absolute;
              background: red;
              color: #fff;
              bottom: 17px;
              transition: all 1s;
              padding: 5px;
              font-size: .7rem;
              opacity: 0; }
          .resultProduct__contentBrands__box__bottom__grid__common:hover .resultProduct__contentBrands__box__bottom__grid__common--tooltip {
            bottom: 17px;
            opacity: 1; }
      .resultProduct__contentBrands__box__text {
        font-weight: 300;
        margin: 3px 0 10px 0;
        font-size: 13px; }

@media screen and (max-width: 980px) {
  .resultProduct__grid {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .resultProduct__grid {
    width: 100%; }
  .resultProduct__content__grid {
    width: 100%;
    display: table; }
    .resultProduct__content__grid:last-child {
      padding: 1rem 0 0 0; } }
@media screen and (max-width: 580px) {
  .resultProduct__grid {
    width: 100%; }
  .resultProduct__content__grid {
    width: 100%;
    display: table; }
    .resultProduct__content__grid:last-child {
      padding: 15px 0 0 0; } }
.pageSearch {
  display: table;
  width: 100%;
  padding: 3rem 0; }
  .pageSearch__content__main {
    display: table;
    margin: 0 auto; }
    .pageSearch__content__main__list {
      display: table-cell;
      padding: .2rem; }
      .pageSearch__content__main__list:first-child {
        margin-left: 0; }
      .pageSearch__content__main__list--link {
        background: #16CDCD;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        color: #fff;
        padding: .3rem .7rem;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        box-sizing: content-box;
        transition: all .5s; }
        .pageSearch__content__main__list--link:hover {
          border: 1px solid #16CDCD;
          background: #fff;
          color: #16CDCD; }

/*# sourceMappingURL=rebrand.css.map */
