
    <div class="resultFilters">
            <!-- <div class="resultFilters__int">
                <input type="text" class="resultFilters__int__button" placeholder="Filtrar por nombre">
            </div> -->
            
            <div class="resultFilters__int">
                <div class="resultFilters__int__price">
                    <span id="span_min" class="min resultFilters__int__price--min"></span>
                    <section class="resultFilters__int--slider resultFilters__int__price--slider range-slider">
                    <!--   <span class="rangeValues"></span><br> -->
                        
                        <!-- <span>-</span> -->
                        <!-- <div class="resultFilters_int--sliderRange"> -->
                            <input class="range_prices" value="0" min="50" max="280" step="1" type="range" id="min_price">
                            <input class="range_prices" value="280" min="0" max="280" step="1" type="range" id="max_price">
                        <!-- </div> -->
                        
                    </section>
                    <span id="span_max" class="max resultFilters__int__price--max"></span>
                </div> 
            </div>
    
            <div class="resultFilters__int">
                <div class="resultFilters__int__stores resultFilters__int__button resultFilters__int__button--brand dropdown multiselect">
                    <div class="selectBox resultFilters__int__stores__selectBox">
                        <select class="selectBox resultFilters__int__stores__selectBox--select resultFilters__int__button--brand">
                            <option class="resultFilters__int__stores__selectBox--brand"><button class="resultFilters__int__button--brand">Tiendas</button></option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <ul id="checkboxes" class="selectBox resultFilters__int__stores__checkboxes resultFilters__int__drop chk_stores">
                        <!-- <li class="resultFilters__int__drop__list">
                            <label for="one" class="resultFilters__int__drop__list__label">
                                <input type="checkbox" id="one" class="resultFilters__int__drop__list__label--button"/>
                                <p class="resultFilters__int__drop__list__label--text">First Chechbox</p>
                            </label>
                        </li> -->
                    <!--  -->
                    </ul>
                </div>
            </div>
            
            <div class="resultFilters__int">
                <div class="resultFilters__int__stores resultFilters__int__button resultFilters__int__button--brand dropdown multiselectdos">
                    <div class="selectBox resultFilters__int__stores__selectBox">
                        <select class="selectBox resultFilters__int__stores__selectBox--select resultFilters__int__button--brand">
                            <option class="resultFilters__int__stores__selectBox--brand"><button class="resultFilters__int__button--brand">Marcas</button></option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <ul id="checkboxesdos" class="selectBox resultFilters__int__stores__checkboxes resultFilters__int__drop chk_brands">
                        <!-- <li class="resultFilters__int__drop__list">
                            <label for="one" class="resultFilters__int__drop__list__label">
                                <input type="checkbox" id="one" class="resultFilters__int__drop__list__label--button"/>
                                <p class="resultFilters__int__drop__list__label--text">First Chechbox</p>
                            </label>
                        </li> -->
                    
                    </ul>
                </div>
            </div>
            <div class="resultFilters__int dropMenu">
                <button id="btn-dropdown" class="resultFilters__int__button resultFilters__int__button--brand dropdown trigger">Comparar</button>
                <ul id="btn-dropdown-box" class="resultFilters__int__drop dropdown-menu panel">
                    <li class="resultFilters__int__drop__list">
                        <label for="#" class="resultFilters__int__drop__list__label">
                            <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                            <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                        </label>
                        <li class="resultFilters__int__drop__list">
                            <label for="#" class="resultFilters__int__drop__list__label">
                                <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                                <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                            </label>
                        </li>
                    </li>
                </ul>
            </div>
            <div class="resultFilters__int dropMenu" >
                <button class="resultFilters__int__button resultFilters__int__button--brand dropdown trigger">Mis busquedas</button>
                <ul class="resultFilters__int__drop dropdown-menu panel" id="hola">
                    <li class="resultFilters__int__drop__list">
                        <label for="#" class="resultFilters__int__drop__list__label">
                            <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                            <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                        </label>
                        <li class="resultFilters__int__drop__list">
                            <label for="#" class="resultFilters__int__drop__list__label">
                                <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                                <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                            </label>
                        </li>
                    </li>
                </ul>
            </div>
            <div class="resultFilters__int">
                    <button class="resultFilters__int__button resultFilters__int__button--brand">Limpiar</button>
            </div>
            <div class="resultFilters__int">
                    <button class="resultFilters__int__button resultFilters__int__button--brand" onclick="send_filter()">Aplicar</button>
            </div>
        </div>