<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    
    
</head>
<body>
        <!-- <header class="headerPrincipal resultHeader">
            <div class="headerPrincipal__box">
                <div class="headerPrincipal__box__content headerPrincipal__box__grid">
                    <div class="headerPrincipal__box__contentInt">
                        <div class="headerPrincipal__box__content__logo headerPrincipal__box__content--grid">
                            <a href="#" class="headerPrincipal__box__content__logo__link"><img src="img/logo-prixtips.png" class="headerPrincipal__box__content__logo__link--src" alt=""></a>
                        </div>
                        <div class="headerPrincipal__box__contentSearch headerPrincipal__box__content--grid">
                            <form action="#" class="headerPrincipal__box__contentSearch__form">
                                <input type="text" class="headerPrincipal__box__contentSearch__form--input" placeholder="Buscar...">
                                <button class="headerPrincipal__box__contentSearch__form--buttonIco"><i class="fas fa-search"></i></button>

                                <button class="headerPrincipal__box__contentSearch__form--button">Buscar</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="headerPrincipal__box__content headerPrincipal__box__grid">
                    <nav class="headerPrincipal__box__contentNav">
                        <ul class="headerPrincipal__box__contentNav__menu"> 
                            <li class="headerPrincipal__box__contentNav__menuLista"><a href="#" class="headerPrincipal__box__contentNav__menuLista--link">Ingreso</a></li>
                            <li class="headerPrincipal__box__contentNav__menuLista"><a href="#" class="headerPrincipal__box__contentNav__menuLista--link">Comunidad</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header> -->
    <main class="resultProduct">
        <div class="resultProduct__grid" id="resultProduct">
            <div class="resultProduct__title">
                <h2 class="resultProduct__title--txt">BEBIDA LÁCTEA MILO ACTIV-GO CHOCOLATE SIX PACK X CAJA 165 ML</h2>
            </div>
            <div class="resultProduct__content">
                <div class="resultProduct__content__grid">
                    <div class="resultProduct__contentProduct">
                        <div class="resultProduct__contentProduct__img">
                            <div class="resultProduct__contentProduct__imgInt">
                                <img src="img/milo.jpg" alt="" class="resultProduct__contentProduct__imgInt--src" id="compareProductImage">
                            </div>
                        </div>
                        <div class="resultProduct__contentProduct__offer">
                            <p class="resultProduct__contentProduct__offer__percen"><span class="resultProduct__contentProduct__offer__percen--txt">Ahorra hasta</span><span class="resultProduct__contentProduct__offer__percen--number">11%</span></p>
                        </div>
                        <div class="resultProduct__contentProduct__icons" data-product-name="{{ product_name_raw }}">
                            <div class="resultProduct__contentProduct__icons__tool">
                                <i class="fas fa-list-ol resultProduct__contentProduct__icons__tool--list"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool">
                                <i class="far fa-heart resultProduct__contentProduct__icons__tool--heart add-to-favorite fa {{ 'fa-heart' if is_favorite else 'fa-heart-o' }} {{ 'text-danger' if is_favorite else 'text-muted' }} mr-2"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool">
                                <i class="far fa-clone resultProduct__contentProduct__icons__tool--compare" onclick="copyCompareLink()"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool">
                                <i class="fab fa-facebook-square resultProduct__contentProduct__icons__tool--facebook" onclick="shareCompareToFacebook()"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool">
                                <i class="fab fa-twitter-square resultProduct__contentProduct__icons__tool--twitter" onclick="shareCompareToTwitter()"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool">
                                <i class="fas fa-envelope resultProduct__contentProduct__icons__tool--email"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool">
                                <a href=" https://wa.me/51941143673?text=Me%20gustaría%20saber%20el%20precio%20del%20coche"><i class="fab fa-whatsapp resultProduct__contentProduct__icons__tool--whatsapp"></i></a>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool">
                                <a href="https://api.telegram.org/bot604891196:AAEtNizH6-nr3tOINAIhzmWy8VJjSkhjQk4/sendMessage?chat_id=-940682625"><i class="fab fa-telegram resultProduct__contentProduct__icons__tool--telegram"></i></a>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="resultProduct__content__grid">
                    <div class="resultProduct__contentBrands" id="contentBrandsPrice">
                        <div class="resultProduct__contentBrands__box">
                            <div class="resultProduct__contentBrands__boxContent">
                                <div class="resultProduct__contentBrands__box__grid">
                                    <div class="resultProduct__contentBrands__boxInt">
                                        <div class="resultProduct__contentBrands__boxInt__img">
                                            <div class="resultProduct__contentBrands__boxInt__imgInt">
                                                <img src="img/lacuracao.png" alt="" class="resultProduct__contentBrands__boxInt__imgInt--src">
                                            </div>
                                        </div>
                                        <!-- <a href="#" class="resultProduct__contentBrands__boxInt__common">
                                            <p class="resultProduct__contentBrands__boxInt__common--txt">Ver ubicación</p>
                                        </a> -->
                                    </div>
                                </div>
                                <div class="resultProduct__contentBrands__box__grid">
                                    <div class="resultProduct__contentBrands__boxInt">
                                        <div class="resultProduct__contentBrands__boxInt__price">
                                            <p class="resultProduct__contentBrands__boxInt__price--txt">S/ 7.90</p>
                                        </div>
                                        <!-- <a  href="#"class="resultProduct__contentBrands__boxInt__common">
                                            <p href="#" class="resultProduct__contentBrands__boxInt__common--txt">Comprar</p>
                                        </a> -->
                                    </div>
                                </div>
                                <div class="resultProduct__contentBrands__box__grid">
                                    <div class="resultProduct__contentBrands__boxInt">
                                        <div class="resultProduct__contentBrands__boxInt__offer">
                                            <p class="resultProduct__contentBrands__boxInt__offer--txt">Oferta</p>
                                        </div>
                                        <!-- <div class="resultProduct__contentBrands__boxInt__common">
                                            <p class="resultProduct__contentBrands__boxInt__common--txt resultProduct__contentBrands__boxInt__common--txtAnimatee">Restricciones</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="resultProduct__contentBrands__box__bottom">
                                <div class="resultProduct__contentBrands__box__bottom__grid">
                                    <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">
                                        <p class="resultProduct__contentBrands__box__bottom__grid__common--txt">Ver ubicación</p>
                                    </a>
                                </div>
                                <div class="resultProduct__contentBrands__box__bottom__grid">
                                    <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">
                                        <p class="resultProduct__contentBrands__box__bottom__grid__common--txt">Comprar</p>
                                    </a>
                                </div>
                                <div class="resultProduct__contentBrands__box__bottom__grid">
                                    <div  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">
                                        <p class="resultProduct__contentBrands__box__bottom__grid__common--txt">Restricciones</p>
                                        <div class="resultProduct__contentBrands__box__bottom__grid__common__restrict"  style="display: none">
                                            <div class="resultProduct__contentBrands__box__bottom__grid__common__restrictBox">
                                                <p class="resultProduct__contentBrands__box__bottom__grid__common__restrictBox--txt">Válido a partir de 4 productos</p>
                                            </div>
                                        </div>
                                        <!-- <p class="resultProduct__contentBrands__box__bottom__grid__common--tooltip"></p> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <p class="resultProduct__contentBrands__box__text">* Válido a partir de  4 productos</p> -->
                        </div>
                        <div class="resultProduct__contentBrands__box">
                            <div class="resultProduct__contentBrands__boxContent">
                                <div class="resultProduct__contentBrands__box__grid">
                                    <div class="resultProduct__contentBrands__boxInt">
                                        <div class="resultProduct__contentBrands__boxInt__img">
                                            <div class="resultProduct__contentBrands__boxInt__imgInt">
                                                <img src="img/lacuracao.png" alt="" class="resultProduct__contentBrands__boxInt__imgInt--src">
                                            </div>
                                        </div>
                                        <!-- <a href="#" class="resultProduct__contentBrands__boxInt__common">
                                            <p class="resultProduct__contentBrands__boxInt__common--txt">Ver ubicación</p>
                                        </a> -->
                                    </div>
                                </div>
                                <div class="resultProduct__contentBrands__box__grid">
                                    <div class="resultProduct__contentBrands__boxInt">
                                        <div class="resultProduct__contentBrands__boxInt__price">
                                            <p class="resultProduct__contentBrands__boxInt__price--txt">S/ 7.90</p>
                                        </div>
                                        <!-- <a  href="#"class="resultProduct__contentBrands__boxInt__common">
                                            <p href="#" class="resultProduct__contentBrands__boxInt__common--txt">Comprar</p>
                                        </a> -->
                                    </div>
                                </div>
                                <div class="resultProduct__contentBrands__box__grid">
                                    <div class="resultProduct__contentBrands__boxInt">
                                        <div class="resultProduct__contentBrands__boxInt__offer">
                                            <p class="resultProduct__contentBrands__boxInt__offer--txt">Oferta</p>
                                        </div>
                                        <!-- <div class="resultProduct__contentBrands__boxInt__common">
                                            <p class="resultProduct__contentBrands__boxInt__common--txt resultProduct__contentBrands__boxInt__common--txtAnimatee">Restricciones</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="resultProduct__contentBrands__box__bottom">
                                <div class="resultProduct__contentBrands__box__bottom__grid">
                                    <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">
                                        <p class="resultProduct__contentBrands__box__bottom__grid__common--txt">Ver ubicación</p>
                                    </a>
                                </div>
                                <div class="resultProduct__contentBrands__box__bottom__grid">
                                    <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">
                                        <p class="resultProduct__contentBrands__box__bottom__grid__common--txt">Comprar</p>
                                    </a>
                                </div>
                                <div class="resultProduct__contentBrands__box__bottom__grid">
                                    <div  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">
                                        <p class="resultProduct__contentBrands__box__bottom__grid__common--txt">Restricciones</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <p class="resultProduct__contentBrands__box__text">* Válido a partir de  4 productos</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resultProduct__grid">

        </div>

    </main>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="result.js"></script>
    <script src="src/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    <!-- <script type="text/javascript">
        $(document).ready(function()
            {
            $("#btn-dropdown").on( "click", function() {	 
                $('#btn-dropdown-box').toggle();
                 });
            });
    </script> -->
    <script>
    $( "button" ).click(function() {
        $( "p" ).toggle();
    });
</script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btn-dropdown#btn-dropdown').click(function() {        
                $(this).siblings('#btn-dropdown-box').toggle();
            });

            $('.resultProduct__contentBrands__box__bottom__grid__common--txt').click(function() {        
                $(this).siblings('.resultProduct__contentBrands__box__bottom__grid__common__restrict').toggle();
            });
        });
    </script>
 
 
    <!-- <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("btn-dropdown-box").classList.toggle("btn-dropdown-show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.resultFilters__int__button--brand')) {
            var dropdowns = document.getElementsByClassName("resultFilters__int__drop");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('btn-dropdown-show')) {
                openDropdown.classList.remove('btn-dropdown-show');
                }
            }
            }
        }
    </script> -->
    
    <!-- <script>
        // var owl = $('.resultBody__box__brandsContent__brands');
        //     owl.owlCarousel();
        //     // Go to the next item
        //     $('.resultBody__box__brandsContent--next').click(function() {
        //         owl.trigger('next.owl.carousel');
        //     })
        //     // Go to the previous item
        //     $('.resultBody__box__brandsContent--prev').click(function() {
        //         // With optional speed parameter
        //         // Parameters has to be in square bracket '[]'
        //         owl.trigger('prev.owl.carousel', [300]);
        //     })
    </script> -->
    
</body>
</html>