.footerPrincipal{
    background: $color_three;
    line-height: 45px;

    &__content{
        display: table;
        width: 100%;
        &__grid{
            display: table-cell;
            width: 50%;
            vertical-align: middle;
        }
        &__int{


            &__copy{
                color: #fff;
                font-size: 12px;
                line-height: 12px;
                font-family: $opensans;
            }
            &__submenu{
                display: table;
                float: right;

                &list{
                    display: table-cell;

                    &--link{
                        color: $color_two;
                        font-size: 12px;
                        padding-right: 8px;
                        text-decoration: none;
                        font-family: $opensans;

                    }
                }
            }
        }
    }
}



@media screen and (max-width: 900px){

    .footerPrincipal{

        &__content{

            &__grid{
                display: table;
                width: 100%;
            }
            &__int{

                &__copy{
                    text-align: center;
                    margin-top: 1rem;
                }
                &__submenu{
                    float: none;
                    margin: 0 auto;

                    &list{

                        &--link{

                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 520px){

    .footerPrincipal{

        &__content{

            &__grid{
                
            }
            &__int{

                &__copy{
                    
                }
                &__submenu{
                    width: 100%;

                    &list{
                        width: 20%;
                        float: left;
                        text-align: center;

                        &--link{
                            
                            padding: 0;
                        }
                    }
                }
            }
        }

    }
}



@media screen and (max-width: 340px){

    .footerPrincipal{

        &__content{

            &__grid{
                
            }
            &__int{

                &__copy{
                    
                }
                &__submenu{

                    &list{
                        width: 33.33%;

                        &--link{
                            
                        }
                    }
                }
            }
        }

    }
}