.headerPrincipal{
    background: $color_three;
    display: table;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;

    &__box{
        display: table;
        width: 100%;

        &__grid:first-child{
            width: 85%;
        }
        &__grid{
            display: table-cell;
            width: 50%;
            vertical-align: middle;
        }

        &__content{


            &Int{
                width: 100%;
                display: table;
            }
            &--grid{
               
                display: table-cell;
                vertical-align: middle;
            }
            &__logo{
                padding-right: 1rem;
                width: 15%;

                &__link{

                    &--src{
                        max-width: 165px;
                    }
                }
            }
            &Search{
                width: 75%;

                &__form{
                    display: table;
                    width: 100%;
                    position: relative;

                    &--input, &--button{
                        display: table-cell;
                        line-height: 40px;
                        height: 40px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        vertical-align: bottom;
                    }
                    &--input{
                        padding-left: 1rem;
                        font-size: 1rem;
                        box-sizing: border-box;
                        width: 100%;
                        border: 1px solid #ccc;
                    }
                    &--buttonIco{
                        
                        background: $color_one;
                        color: #fff;
                        padding: 0 1rem;
                        border-radius: 0 5px 5px 0;
                        width: auto;
                        border: none;   
                        font-size: 1.5rem;
                        position: absolute;
                        right: 0;
                        line-height: 40px;
                        height: 40px;
                        top: 0;
                        font-family: Fontawesome;
                    }
                    &--button{
                        width: 20%;
                        border: none;   
                        font-size: 1.5rem;
                    }
                }
            }
            &Nav{
                //background: red;

                &__bars{
                    display: none;
                    &__list{

                        &--ico{

                        }
                    }
                }
                &__menu{
                    display: table;
                    float: right;

                    &Lista{
                        display: table-cell;

                        &--link{
                            border-bottom: 1px solid #fff;
                            margin-left: 10px;
                            padding: 0 16px;
                            border-radius: 5px;
                            font-size: 14px;
                            font-family: $opensans;
                            line-height: 30px;
                            display: table;
                            background: $color_one;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }

                &__bars{

                    &__list{
                        list-style: none;
                        &--ico{
                            font-family: Fontawesome;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

 @media screen and (max-width: 680px){

    .headerPrincipal{
        padding: 5px 5px;

        &__box{

            &__content{

                &Nav{

                    &__bars{
                        display: block;
                        overflow: hidden;

                        &__list{
                            float: right;
                            cursor: pointer;

                            &--ico{
                                background: $color_one;
                                padding: 0 10px;
                                line-height: 45px;
                                display: block;
                                border-radius: 2px;
                                font-size: 1.5rem;
                            }
                        }
                    }
                    &__menu{
                        display: none;
                        position: absolute;
                        width: 50%;
                        right: 0;
                        z-index: 99;

                        &Lista{
                            display: table;
                            text-align: center;
                            width: 100%;

                            &--link{
                                width: 100%;
                                border-radius: 0;
                                border: none;
                                margin: 0;
                                padding: 0;
                            }
                            &:last-child &--link{
                                border-top: 1px solid #fff;
                            }
                        }
                    }
                }
                &Search{
                    display: none;
                }
            }
        }
    }
 }