header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
}
form {
    display: block;
    margin-top: 0em;
}
.ml-2, .mx-2 {
    margin-left: .5rem!important;
}

.btn-search {
    margin: 0 10px;
    background: #f60;
    border-color: #f60;
    color: #fff;
}

.btn-search {
    margin: 0!important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.bg-menu {
    background-color: #0f1a36;
    padding: 5px;
}

.navbar {
    position: relative!important;
}
.nav-top {
    float: left;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-toggler {
    margin: 10px 0;
    background: 0 0;
    color: #fff;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.flex-row-reverse {
    -ms-flex-direction: row-reverse!important;
    flex-direction: row-reverse!important;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (min-width: 768px){
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar {
        padding-top: 4px!important;
        display: flex!important;
        padding-bottom: 4px!important;
        height: 45px!important;
    }
    .header-ani {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}
@media screen and (min-width: 768px){
    .header-ani {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 979px) and (min-width: 768px){
    .search-text {
        width: 30vh!important;
    }
}


@media (min-width: 576px){
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .mr-sm-2, .mx-sm-2 {
        margin-right: .5rem!important;
    }
}
