.pageSearch{
    display: table;
    width: 100%;
    padding: 3rem 0;
    //background: $color_one;

    &__content{

        &__main{
            display: table;
            margin: 0 auto;

            &__list{
                display: table-cell;
                padding: .2rem;
                

                &:first-child{
                    margin-left: 0;
                }

                &--link{
                    background: $color_two;
                    text-decoration: none;
                    font-family: $opensans;
                    color: #fff;
                    padding: .3rem .7rem;
                    cursor: pointer;
                    font-size: 1.2rem;
                    font-weight: bold;
                    box-sizing: content-box;
                    transition: all .5s;

                    &:hover{
                        border: 1px solid $color_two;
                        background: #fff;
                        color: $color_two;
                    }
                }
            }
        }
    }
}