.resultProduct{
    width: 100%;
    display: table;
    padding: 20px;
    box-sizing: border-box;

    &__grid{
        display: table-cell;
        width: 50%;  
        vertical-align: top;
    }
    

    &__title{
        margin-bottom: 20px;
        background: $color_two;
        border-radius: 5px;
        padding: 1rem;
        //line-height: 67px;
        padding-left: 1rem;
        box-sizing: border-box;

        &--txt{
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
        }
    }
    &__content{
        display: table;
        width: 100%;

        &__grid{
            display: table-cell;
            width: 50%;
            vertical-align: top;
        }
        &__grid:first-child{
            padding-right: 10px;
        }
        &__grid:last-child{
            padding-left: 10px;
        }

        &Product{
            border:  1px solid #ccc; 
            position: relative;

            &__img{
                height: 500px;
                display: table;
                width: 100%;

                &Int{
                    vertical-align: middle;
                    display: table-cell;

                    &--src{
                        max-width: 100%;
                        max-height: 100%;
                        width: 100%;
                    }
                } 
            }

            &__offer{
                font-size: 1rem;
                background: $color_one;
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
                line-height: 30px;
                border-radius: 0 0 0 5px;
                padding: 0 .5rem;

                &__percen{
                    display: table;

                    &--txt, &--number{
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &--txt{
                        
                    }
                    &--number{
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    
                }
            }

            &__icons{
                display: table;
                margin: 0 auto 10px auto;

                &__tool{
                    display: table-cell;
                    font-size: 1.5rem;
                    padding: .2rem;
                    font-family: Fontawesome;
                    //display: inline-block;
                    cursor: pointer;
                    //margin-left: 10px;
                    position: relative;

                    &:first-child{
                        margin-left: 0;
                    }
                    &:hover::after, &:hover::before{
                        display: block;
                    }
                    &::before{
                        content: "";
                        display: none;
                        position: absolute;
                        top: -50%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        
                    }
                    &::after{
                        color: #fff;
                        display: none;
                        padding: 4px 10px;
                        border-radius: 5px;
                        font-family: 'Open Sans', sans-serif !important;
                        position: absolute;
                        top: calc(-100% + -5px);
                        white-space: nowrap;
                        left: 50%;
                        font-size: 12px;
                        transform: translateX(-50%);
                    }
                    &:nth-child(1){
                        margin-left: 0;
                        color: $color_two;
                        
                        &::before{
                            border-color: $color_two transparent transparent transparent;
                        }
                        &::after{
                            background: $color_two;
                            content: 'Agregar a lista de comparación';
                        }
                    }
                    &:nth-child(2){
                        color: $color_four;

                        &::before{
                            border-color: $color_four transparent transparent transparent;
                        }
                        &::after{
                            background: $color_four;
                            content: 'Agregar a favoritos';
                        }
                    }
                    &:nth-child(3){
                        color: $color_five;

                        &::before{
                            border-color: $color_five transparent transparent transparent;
                        }
                        &::after{
                            background: $color_five;
                            content: 'Lista de compras';
                        }
                    }
                    &:nth-child(4){
                        color: $color_fb;

                        &::before{
                            border-color: $color_fb transparent transparent transparent;
                        }
                        &::after{
                            background: $color_fb;
                            content: 'Compartir en Facebook';
                        }
                    }
                    &:nth-child(5){
                        color: $color_tw;

                        &::before{
                            border-color: $color_tw transparent transparent transparent;
                        }
                        &::after{
                            background: $color_tw;
                            content: 'Compartir en Twitter';
                        }
                    }
                    &:nth-child(6){
                        color: $color_mail;

                        &::before{
                            border-color: $color_mail transparent transparent transparent;
                        }
                        &::after{
                            background: $color_mail;
                            content: 'Compartir por Email';
                        }
                    }
                    &:nth-child(7){
                        color: $color_ws;

                        &::before{
                            border-color: $color_ws transparent transparent transparent;
                        }
                        &::after{
                            background: $color_ws;
                            content: 'Compartir en Whatsapp';
                        }
                    }
                    &:nth-child(8){
                        color: $color_telegram;

                        &::before{
                            border-color: $color_telegram transparent transparent transparent;
                        }
                        &::after{
                            background: $color_telegram;
                            content: 'Compartir en Telegram';
                        }
                    }
                    &--list{
                        color: $color_two;
                    }
                    &--heart{
                        color: $color_four;
                    }
                    &--compare{
                        color: $color_five;
                    }
                    &--facebook{
                        color: $color_fb;
                    }
                    &--twitter{
                        color: $color_tw;
                    }   
                }
                
            }

        }
        &Brands{

            &__box:first-child{
                margin-top: 0;
            }
            &__box:last-child{
                border: none;
            }
            &__box{
                
                margin-top: 20px;
                width: 100%;
                //border-bottom: $border;

                &Content{
                    border: $border;
                    box-shadow: $shadow;
                    display: table;
                    width: 100%;
                    position: relative;

                    
                }
                &__grid{
                    display: table-cell;
                    width: 33.33%;
                    vertical-align: middle;

                    &:nth-child(2){
                        border-right: $border;
                        border-left: $border;
                        box-sizing: border-box;
                    }
                    &:nth-child(3){
                        vertical-align: middle;
                    }
                }
                
                &Int{

                    &__img, &__price, &__offer{
                        height: 50px;
                        display: table;
                        width: 100%;
                        text-align: center;
                    }
                    &__img{
                        text-align: center;

                        &Int{
                            display: table-cell;
                            vertical-align: middle;

                            &--src{
                                width: 50%;
                            }
                        }
                    }
                    &__price{
                        

                        &--txt{
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 20px;
                            font-weight: 800;
                            color: $color_three;
                        }
                    }
                    &__offer{

                        &--txt{
                            color: $color_six;
                            display: table-cell;
                            vertical-align: middle;
                            font-weight: 300;
                            font-size: 1.2rem;
                        }
                    }
                    &__common{
                        text-align: center;
                        text-decoration: none;
                        background: $color_two;
                        display: table;
                        width: 100%;
                        overflow: hidden;
                        
                        &__slide{
                            width: 80px !important;
                            margin: 0 auto;
                        }
                        &--txt{
                            display: table;
                            width: 100%;
                            white-space: nowrap;
                            color: #fff;
                            line-height: 17px;
                            font-size: 12px;
                            
                            &Animate{
                                animation-name: textslide;
                                animation-duration: 20s;
                                animation-delay: 1s;
                                animation-iteration-count: infinite;
                                animation-timing-function: linear;
                            }
                        }
                        
                    }
                }
                &__bottom{
                    display: table;
                    position: relative;
                    width: 100%;

                    &__grid{
                        width: 33.33%;
                        display: table-cell;
                        background: red;

                        &:last-child{
                            position: relative;
                            &__common{
                                background: red;
                                position: relative;
                            }
                        }
                        
                        // &:last-child:after{
                        //     content: '';
                        //     position: absolute;
                        //     background: #fff;
                        //     height: 100%;
                        //     width: 100%;
                        //     top: 0;
                        //     left: 0;
                        //     display: block;
                        // }
                        &__common{
                            text-align: center;
                            text-decoration: none;
                            background: $color_two;
                            display: table;
                            width: 100%;
                            // overflow: hidden;
                            //position: relative;
                            cursor: pointer;

                            &--txt{
                                display: table;
                                width: 100%;
                                white-space: nowrap;
                                color: #fff;
                                line-height: 17px;
                                font-size: 12px;                                
                            }

                            &__restrict{
                                display: table;
                                width: 100%;
                                top: -50px;
                                left: 0;
                                height: 50px;
                                position: absolute;
                                vertical-align: middle;
                                
        
                                &Box{
                                    background: $color_one;
                                    display: table-cell;
                                    vertical-align: middle;
        
                                    &--txt{
                                        color: #fff;
                                        font-size: 14px;
                                        text-align: center;
                                    }
                                }
                            }
                            
                            &--tooltip{
                                position: absolute;
                                background: red;
                                color: #fff;
                                bottom: 17px;
                                transition: all 1s;
                                padding: 5px;
                                font-size: .7rem;
                                opacity: 0;
                            }
                        }
                        &__common:hover &__common--tooltip{
                            bottom: 17px;
                            opacity: 1;
                        }
                    }
                }
                &__text{
                    font-weight: 300;
                    margin: 3px 0 10px 0;
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 980px){
    .resultProduct{

        &__grid{
            width: 100%;
        }
        &__title{

        }
        &__content{

            &__grid{

                &:last-child{
                    //padding: 1rem 0 0 0;
                }
            }
            
            
        }
    }
}

@media screen and (max-width: 768px){
    .resultProduct{

        &__grid{
            width: 100%;
        }
        &__title{

        }
        &__content{

            &__grid{

                &:last-child{
                    padding: 1rem 0 0 0;
                }
                width: 100%;
                display: table;
            }
        }
    }
}

@media screen and (max-width: 580px){
    .resultProduct{

        &__grid{
            width: 100%;
        }
        &__title{

        }
        &__content{

            &__grid{
                width: 100%;
                display: table;

                &:last-child{
                    padding: 15px 0 0 0;
                }
            }
        }
    }
}

