

.nav {
  display: block;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav .button-dropdown {
  position: relative;
}


.nav li a span {
  display: inline-block;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
  background-color: #289dcc;
  color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
  color: #fff;
}

.nav li .dropdown-menu {
  display: none;
  position: absolute;
}

.nav li .dropdown-menu.active {
  display: block;
}


.none{
  display: none !important;
}



.resultFilters{
  position: relative;
  font-family: Fontawesome;
  width: 100%;
  padding: 5px 5px;
  //border: 1px solid #ccc;
  box-sizing: border-box;
  //margin-top: 4rem;;
  display: table;
  vertical-align: middle;
  //height: 85px;


    &__bars, &__form{
      display: table-cell;
      width: 100%;
      vertical-align: top;

    }

    
    // Inicio Filtros
    &__bars{
      cursor: pointer;
     
      &__list{  
        list-style: none;
        background: $color_two;
        text-align: center;
        color: #fff;
        height: 50px;
        width: 50px;
        line-height: 50px;

        &--ico{
          font-size: 2rem;
        }
      }
    }
    &__form{
      

      &--input{
        padding-left: 1rem;
        height: 50px;
        line-height: 50px;
        font-size: 1rem;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #ccc;
      }
    }
    // Fin Filtros

    &__hidden{
      display: none;
      background: red;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &__int{
        //width: percentage(274/1920);
        width: 8%;
        display: table-cell;
        box-sizing: border-box;
        padding: 2px;
        vertical-align: middle;
        position: relative;

        &:nth-child(1){
          width: 25%;
        }


        &__price{
          display: table;
          width: 100%;

          &--min, &--max{
            padding: 0 1rem;
          }
          &--min, &--max, &--slider{
            display: table-cell;
            //width: 33%;
            white-space: nowrap;
            font-family: $opensans;
            vertical-align: middle;
          }
        }
        &__button{
            text-decoration: none;
            border-radius: 2px;
            white-space: nowrap;
            line-height: 30px;
            width: 100%;
            border: 1px solid #ccc;
            box-sizing: border-box;

            &--brand{
                cursor: pointer;
                display: block;
                text-align: center;
                background: $color_two;
                border: none;
                width: 100%;
                color: #fff;
                font-family: 'Open Sans', sans-serif !important;
                font-weight: bold;
                font-size: 15px;
            }
        }
        &--slider{

          span:first-child{
            float: left;
          }
          span:last-child{
            float: right;
          }
              /** FF*/
          input[type="range"]::-moz-range-progress {
            background-color: red; 
          }
          input[type="range"]::-moz-range-track {  
            background-color: red;
          }
          /* IE*/
          input[type="range"]::-ms-fill-lower {
            background-color: red; 
          }
          input[type="range"]::-ms-fill-upper {  
            background-color: red;
          }
        }
        &__drop{
            border: 1px solid #ccc;
            //border-radius: 5px;
            background: #fff;
            display: none;
            position: absolute;
            //padding: .5rem;
            z-index: 99;
            left: 0;
            width: calc(100% - 6px);
            font-family: 'Open Sans', sans-serif !important;
            
            
            &__list{
                border-bottom: 1px solid #ccc;
                cursor: pointer;
                //padding: .2rem 0;

                &__label{
                    display: table;
                    cursor: pointer;
                    width: 100%;
                    position: relative;

                    &--button{
                      position: absolute;
                      opacity: 0;
                      width: 100%;
                      height: 100%;
                      cursor: pointer;
                    }
                    &--button, &--text{
                        display: table-cell;
                    }
                    
                    input:checked + p:before{
                      //content: '\f00c';
                      font-family: Fontawesome;
                      color: #fff;
                      background: $color_two;
                      
                    }
                    &--text{
                      color: #ccc;
                      padding: .5rem;

                      &Span{
                        color: $color_three;
                        display: table-cell;
                      }
                      &:before{
                        content: '';
                        margin-right: 5px;
                        border-radius: 0px;
                        display: table-cell;
                        height: 100%;
                        width: 4px;
                        top: 0;
                        left: 0;
                        position: absolute;
                        vertical-align: top;
                        font-size: .9rem;
                        line-height: 14px;
                        color: #ccc;
                      }
                    }
                }
            }
            &__list:last-child{
                border: none;
            }
        }
        
    }

}


@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:20px, $input-border-radius:14px) {
    position: relative;
    width: $width;
    height: $height;
    //float: $float;
    text-align: center;
      
    input[type="range"] {
      pointer-events: none;
      position: absolute;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
      border: none;
      border-radius: $input-border-radius;
      //background: $input-bg-color;
      background: #fff;
      box-shadow: inset 0 1px 0 0 darken($input-bg-color,15%), inset 0 -1px 0 0 darken($input-bg-color,10%);
      -webkit-box-shadow: inset 0 1px 0 0 darken($input-bg-color,15%), inset 0 -1px 0 0 darken($input-bg-color,10%);
      overflow: hidden;
      left: 0;
      top: $input-top;
      width: $width;
      outline: none;
      height: $input-height;
      margin: 0;
      padding: 0;
    }  
    
    input[type="range"]::-webkit-slider-thumb {
      pointer-events: all;
      position: relative;
      z-index: 1;
      outline: 0;    
      -webkit-appearance: none;
      width: $input-height;
      height: $input-height;
      border: none;
      border-radius: $input-border-radius;
      background: $color_two;
      // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten($input-thumb-color,60%)), color-stop(100%, $input-thumb-color)); /* android <= 2.2 */
      // background-image: -webkit-linear-gradient(top , lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* older mobile safari and android > 2.2 */;
      // background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
    input[type="range"]::-moz-slider-thumb {
      pointer-events: all;
      position: relative;
      z-index: 1;
      outline: 0;    
      -webkit-appearance: none;
      width: $input-height;
      height: $input-height;
      border: none;
      border-radius: $input-border-radius;
      background: $color_two;
      // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten($input-thumb-color,60%)), color-stop(100%, $input-thumb-color)); /* android <= 2.2 */
      // background-image: -webkit-linear-gradient(top , lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* older mobile safari and android > 2.2 */;
      // background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }


    
    input[type="range"]::-moz-range-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -moz-appearance: none;
      width: $input-height;
      height: $input-height;
      border: none;
      border-radius: $input-border-radius;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
  
    input[type="range"]::-ms-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -ms-appearance: none;
      width: $input-height;
      height: $input-height;
      border-radius: $input-border-radius;
      border: 0;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
    input[type="range"]::-moz-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -ms-appearance: none;
      width: $input-height;
      height: $input-height;
      border-radius: $input-border-radius;
      border: 0;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
    input[type=range]::-moz-range-track {
      position: relative;
      z-index: -1;
      background-color: rgba(0, 0, 0, 1);
      border: 0;
    }
    
    input[type=range]:last-of-type::-moz-range-track {
      -moz-appearance: none;
      background: none transparent;
      border: 0;
    } 
    
    input[type=range]::-moz-focus-outer {
      border: 0;
    }
  }
  
  .resultFilters__int--slider{
    @include range-slider(100%, auto, 0, #F1EFEF, #413F41, left);
  }
  

@media screen and (max-width: 980px){
  .resultFilters{
    &__int{
      float: left;
      width: 33.33%;

      &:nth-child(1){
        width: 100%;
        margin-bottom: 10px;
      }
    }

  }

}

@media screen and (min-width: 680px){
  .resultFilters{
    &__form, &__bars{
      display: none;
    }
  }
}

@media screen and (max-width:680px){
  .resultFilters{

    &Responsive{
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 95;
      width: 100%;
      background: #fff;
    }
  }
}

@media screen and (max-width: 580px){

    .resultFilters{
      padding: 5px 5px;

      &__int{
        float: left;
        width: 33% !important;

        &:nth-child(1){
          margin-bottom: 1rem;
          width: 100% !important;
        }
        &__button{

          &--brand{
            padding-left: 0;
            font-size: 12px;
          }
        }
        &__price{

          &--min, &--max{
            padding: 0 .2rem;
          }
        }
      }
    }
  }