.resultBody{
    width: 100%;
    // overflow: hidden;
    //padding: 20px;
    box-sizing: border-box;

    


    &__box:first-child{
        //margin-left: 0;
    }
    &__box__grid{
        overflow: hidden;
        border: 1px solid #EEEEEE;
        position: relative;
        box-shadow: 0px 0px 15px rgba(122, 122, 122, 0.05);
        box-sizing: border-box;
        margin-top: 15px;
    }
    &__box{
        box-sizing: border-box;
        padding: 0 10px;
        overflow: hidden;
        width: 25%;
        float: left;

        &:hover .resultBody__box__img__center__link--src{
            transform: translateY(-10px);
        }
        

        &__offer{
            background: $color_one;
            color: #fff;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
            width: 65px;
            text-align: center;
            border-radius: 0 0 0 5px;
            //border-radius: 0 0 0 100%;
            &--number{
                font-size: 16px;
                font-weight: bold;
                line-height: 32px;
            }
        }

        &__img{
            margin-left: auto;
            margin-right: auto;
            min-height: 245px;
            display: table;
            vertical-align: middle;
            position: relative;
            padding: 1rem;
            box-sizing: border-box;

            
            &__center{
                display: table-cell;
                vertical-align: middle;
                //height: 250px;

                &__link{
                    display: block;
                    height: 200px;
                    
                    &--src{
                        transition: all .5s;
                        max-height: 100%;
                        // height: 250px;
                        max-width: 100%;
                    }
                }
                
            }
            &__icons{
                background: #fff;
                padding: 5px 10px;
                border-radius: 5px 5px 0 0;
                font-family: Fontawesome;
                position: absolute;
                bottom: 14px;
                display: table;
                left: 50%;
                transform: translateX(-50%);

                &__tool{
                    display: inline-block;
                    cursor: pointer;
                    margin-left: 10px;
                    position: relative;
                    
                    &:first-child{
                        margin-left: 0;
                    }
                    &:hover::after, &:hover::before{
                        display: block;
                    }
                    &::before{
                        content: "";
                        display: none;
                        position: absolute;
                        top: -50%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: #555 transparent transparent transparent;
                    }
                    &::after{
                        color: #fff;
                        display: none;
                        padding: 2px 8px;
                        border-radius: 5px;
                        font-family: 'Open Sans', sans-serif !important;
                        position: absolute;
                        top: calc(-100% + -8px);
                        white-space: nowrap;
                        left: 50%;
                        font-size: 12px;
                        transform: translateX(-50%);
                    }
                    &:nth-child(1){
                        margin-left: 0;
                        color: $color_two;
    
                        &::after{
                            background: $color_two;
                            content: 'Agregar a lista de comparación';
                        }
                    }
                    &:nth-child(2){
                        color: #FF0000;
                        &::after{
                            background: #FF0000;
                            content: 'Agregar a favoritos';
                        }
                    }
                    &:nth-child(3){
                        color: #FFB300;
                        &::after{
                            background: #FFB300;
                            content: 'Lista de compras';
                        }
                    }
                } 
            }
        }
        &__info{
            width: 100%;
            text-align: center;
            border-top: 1px solid #EEEEEE;
            
            &__int{
                height: 50px;
                overflow-y: auto;

                &Scroll{
                    max-height: 50px;
                    height: 50px;
                    display: table;
                    margin-left: auto;
                    margin-right: auto;

                    &__title{
                        font-weight: bold;
                        color: $color_three;
                        font-size: 1rem;
                        line-height: 1.2rem;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                &::-webkit-scrollbar-track
                {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar
                {
                    width: 6px;
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar-thumb
                {
                    background-color: $color_two;;
                }
                // &::-webkit-scrollbar{
                //     width: 5px;
                //     background: $color_two;
                // }
                // &::-webkit-scrollbar-button{
                //     display: none;
                //     background: $color_one;
                // }
                // &::-webkit-scrollbar-track{
                //     background: green;
                // }
                
            }
            &__price{
                padding: 12px 0 12px 0;
                border-top: 1px solid #EEEEEE;
                font-size: 20px;
                font-weight: 800;
                font-size: 1.2rem;
                color: $color_two;
            }
        }

        &__brandsContent{
            position: relative;
            border-top: 1px solid #EEEEEE;

            &--prev, &--next{
                position: absolute;
                top: 50%;
                display: none;
                transform: translateY(-50%);
                z-index: 99;
            }
            &--prev{
                left: 0;
            }
            &--next{
                right: 0;
            }
            &--prev i, &--next i{
                color: #fff;
                font-family: Fontawesome;
            }
            &__brands{
                height: 52px;
                display: table !important;
                //overflow-x: scroll;

                &__int{
                    //display: table-cell;
                    vertical-align: middle;
    
                    &--img{
                        
                    }
                }
                .owl-stage-outer{
                    display: table-cell;
                    vertical-align: middle;

                    .owl-stage{
                        margin: 0 auto;
                    }
                }
            }
            
        }
        &__brands::-webkit-scrollbar-button:increment{
            display: none;
        }
        &__brands::-webkit-scrollbar{
            display: none;
        }
        
        &__compare{
            

            &--link{
                background: $color_two;
                color: #fff;
                text-decoration: none;
                width: 100%;
                display: table;
                text-align: center;
                line-height: 36px;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 12px;
            }
        }
    }

    
}


/*******carousel brands*********/

.owl-carousel .owl-stage{
    display: table;
}

.owl-carousel.owl-drag .owl-item{
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding: 0 .5rem;
}
.owl-carousel .owl-item img{
    //max-height: 850%;
    margin: 0 auto;
    width: auto !important;
}


@media screen and (max-width: 980px){

    .resultBody{

      &__box{

        width: 33.33%;
      }
    }
    
  }


  @media screen and (max-width: 768px){

    .resultBody{

      &__box{

        width: 50%;

      }
    }
    
  }

  @media screen and (max-width: 480px){

    .resultBody{
        margin-top: -15px;
      &__box{
        padding: 0 6px;
        width: 100%;
      }
    }
    
  }